  <h3>New person</h3>
  <%= form_for @person do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <%= link_to "Back", people_path, class: "btn btn-default" %>
  <%= f.submit class: "btn btn-success" %>
  <% end %>
